@model UserFormViewModel

<div class="modal fade" id="user-form-modal" tabindex="-1" role="dialog" aria-labelledby="user-form-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold" id="user-form-modal-label">User Details</h5>
                <h5 class="modal-title justify-content-end">User ID @Model.ID</h5>
            </div>
            @using (Ajax.BeginRouteForm(Model.CreateUpdateRoute, routeValues: new
            {
                projectId = Model.ProjectID,
                id = Model.ID
            }, ajaxOptions: new AjaxOptions
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "project-users-list",
                OnBegin = "hideUserFormModal", // TODO: maybe should change this to OnSuccess?
                OnFailure = "handleAjaxError" 
            }, htmlAttributes: new
            {
                id = "user-form-element"
            }))
            {
            <div class="modal-body">
                <div class="container-fluid">

                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.ID)
                    @Html.HiddenFor(m => m.ProjectID)

                    <div class="row">

                        @* First column beginning *@
                        <div class="col-6 pl-4">
                            <div class="row mb-2">
                                @Html.LabelFor(m => m.Name, new { @class = "col-3" })
                                <div class="col-8">
                                    @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-input" } })
                                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "form-error-msg" })
                                </div>
                            </div>
                            <div class="row">
                                @Html.LabelFor(m => m.Active, new { @class = "col-3 offset-3" })
                                <div class="col-6">
                                    @Html.EditorFor(m => m.Active)
                                </div>
                            </div>
                            <div class="row mb-3">
                                @Html.LabelFor(m => m.Admin, new { @class = "col-3 offset-3" })
                                <div class="col-6">
                                    @Html.EditorFor(m => m.Admin)
                                </div>
                            </div>

                            <div class="row mb-1">
                                @Html.LabelFor(m => m.Title, new { @class = "col-3" })
                                <div class="col-8">
                                    @Html.EditorFor(m => m.Title, new { htmlAttributes = new { @class = "form-input" } })
                                </div>
                            </div>
                            <div class="row mb-1">
                                @Html.LabelFor(m => m.Email, new { @class = "col-3" })
                                <div class="col-8">
                                    @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-input" } })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "form-error-msg" })
                                </div>
                            </div>
                            <div class="row mb-1">
                                @Html.LabelFor(m => m.Phone, new { @class = "col-3" })
                                <div class="col-8">
                                    @Html.EditorFor(m => m.Phone, new { htmlAttributes = new { @class = "form-input" } })
                                    @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "form-error-msg" })
                                </div>
                            </div>
                            <div class="row mb-1">
                                @Html.LabelFor(m => m.Mobile, new { @class = "col-3" })
                                <div class="col-8">
                                    @Html.EditorFor(m => m.Mobile, new { htmlAttributes = new { @class = "form-input" } })
                                    @Html.ValidationMessageFor(m => m.Mobile, "", new { @class = "form-error-msg" })
                                </div>
                            </div>

                            <div class="row mt-3">
                                <label class="col-12 form-label-heading">Authorizations</label>
                            </div>
                            <div class="row">
                                @Html.LabelFor(m => m.EnrollmentFormAuthorization, new { @class = "col-3 form-label-indent" })
                                <div class="col-8">
                                    @Html.EditorFor(m => m.EnrollmentFormAuthorization)
                                </div>
                            </div>
                            <div class="row">
                                @Html.LabelFor(m => m.EmailAuthorization, new { @class = "col-3 form-label-indent" })
                                <div class="col-8">
                                    @Html.EditorFor(m => m.EmailAuthorization)
                                </div>
                            </div>
                            <div class="row">
                                @Html.LabelFor(m => m.AuthorizedToOpenClose, new { @class = "col-3 form-label-indent form-label" })
                                <div class="col-8">
                                    @Html.EditorFor(m => m.AuthorizedToOpenClose)
                                </div>
                            </div>
                            <div class="row mb-1">
                                @Html.LabelFor(m => m.DI, new { @class = "col-3 form-label-indent" })
                                <div class="col-1">
                                    @Html.CheckBoxFor(m => m.CorpOnlineUser)
                                </div>
                                <div class="col-7">
                                    @Html.EditorFor(m => m.DI, new { htmlAttributes = new { @class = "form-input" } })
                                </div>
                            </div>
                            <div class="row">
                                @Html.LabelFor(m => m.EDeposit, new { @class = "col-3 form-label-indent" })
                                <div class="col-1">
                                    @Html.CheckBoxFor(m => m.RemoteScannerUser)
                                </div>
                                <div class="col-7">
                                    @Html.EditorFor(m => m.EDeposit, new { htmlAttributes = new { @class = "form-input" } })
                                </div>
                            </div>

                        </div>
                        @* First column end *@

                        @* Second column beginning *@
                        <div class="col-6 pl-4">
                            <div class="row mb-1">
                                @Html.LabelFor(m => m.LockboxWeb, new { @class = "col-3" })
                                <div class="col-8">
                                    @Html.EditorFor(m => m.LockboxWeb, new { htmlAttributes = new { @class = "form-input" } })
                                </div>
                            </div>
                            <div class="row mb-1">
                                @Html.LabelFor(m => m.Sftp, new { @class = "col-3" })
                                <div class="col-8">
                                    @Html.EditorFor(m => m.Sftp, new { htmlAttributes = new { @class = "form-input" } })
                                </div>
                            </div>
                            <div class="row mb-1">
                                @Html.LabelFor(m => m.Birthday, new { @class = "col-3" })
                                <div class="col-8">
                                    @Html.EditorFor(m => m.Birthday, new { htmlAttributes = new { @class = "form-input" } })
                                </div>
                            </div>
                            <div class="row mb-1">
                                @Html.LabelFor(m => m.DateAdded, new { @class = "col-3" })
                                <div class="col-8">
                                    @Html.DisplayFor(m => m.DateAdded)
                                </div>
                            </div>
                            <div class="row mb-1">
                                @Html.LabelFor(m => m.DateDeleted, new { @class = "col-3" })
                                <div class="col-8">
                                    @Html.DisplayFor(m => m.DateDeleted)
                                </div>
                            </div>

                            <div class="row mt-4 mb-2">
                                <div class="col-11">
                                    @Html.LabelFor(m => m.Notes)
                                    @Html.TextAreaFor(m => m.Notes, 5, 10, new { @class = "form-textarea" })
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-11">
                                    @Html.LabelFor(m => m.RemoteScannerAccountNotes)
                                    @Html.TextAreaFor(m => m.RemoteScannerAccountNotes, 5, 10, new { @class = "form-textarea" })
                                </div>
                            </div>
                        </div>
                        @* Second column end *@

                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Save & Close</button>
            </div>
         }
         </div>
    </div>
</div>