@model UserFormViewModel

<div class="modal fade" id="user-form-modal" tabindex="-1" role="dialog" aria-labelledby="user-form-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold" id="user-form-modal-label">User Details</h5>
                <h5 class="modal-title">User ID @Html.DisplayFor(m => m.ID)</h5>
                @* Add close X button here *@
            </div>
            @using (Ajax.BeginRouteForm(Model.CreateUpdateRoute, routeValues: new
            {
                projectId = Model.ProjectID,
                id = Model.ID
            }, ajaxOptions: new AjaxOptions
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "project-users-list",
                OnBegin = "ModalDialogHelper.disableFormSubmitButton", 
                OnComplete = "ModalDialogHelper.hideModalDialog",
                OnFailure = "ErrorHandler.handleAjaxError"
            }, htmlAttributes: new
            {
                id = "user-form-element",
                data_modal_target = "#user-form-modal"
            }))
            {
            <div class="modal-body">
                <div class="container-fluid">

                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.ID)
                    @Html.HiddenFor(m => m.ProjectID)

                    <div class="row">
                        @* First column beginning *@
                        <div class="col-6 pl-4">
                            <div class="row mb-2">
                                @Html.LabelFor(m => m.Name, new { @class = "col-3" })
                                <div class="col-8">
                                    @Html.RoleBasedEditorFor(m => m.Name, "form-input")
                                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "form-val-error-tooltip" })
                                </div>
                            </div>
                            <div class="row">
                                @Html.LabelFor(m => m.Active, new { @class = "col-3 offset-3" })
                                <div class="col-6">
                                    @Html.RoleBasedCheckBoxFor(m => m.Active)
                                </div>
                            </div>
                            <div class="row">
                                @Html.LabelFor(m => m.Admin, new { @class = "col-3 offset-3" })
                                <div class="col-6">
                                    @Html.RoleBasedCheckBoxFor(m => m.Admin)
                                </div>
                            </div>

                            <div class="row my-1">
                                @Html.LabelFor(m => m.Title, new { @class = "col-3" })
                                <div class="col-8">
                                    @Html.RoleBasedEditorFor(m => m.Title, "form-input")
                                </div>
                            </div>
                            <div class="row mb-1">
                                @Html.LabelFor(m => m.Email, new { @class = "col-3" })
                                <div class="col-8">
                                    @Html.RoleBasedEditorFor(m => m.Email, "form-input")
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "form-val-error-tooltip" })
                                </div>
                            </div>
                            <div class="row mb-1">
                                @Html.LabelFor(m => m.Phone, new { @class = "col-3" })
                                <div class="col-8">
                                    @Html.RoleBasedEditorFor(m => m.Phone, "form-input js-phone-mask")
                                    @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "form-val-error-tooltip" })
                                </div>
                            </div>
                            <div class="row mb-1">
                                @Html.LabelFor(m => m.Mobile, new { @class = "col-3" })
                                <div class="col-8">
                                    @Html.RoleBasedEditorFor(m => m.Mobile, "form-input js-phone-mask")
                                    @Html.ValidationMessageFor(m => m.Mobile, "", new { @class = "form-val-error-tooltip" })
                                </div>
                            </div>

                            <div class="row mt-2">
                                <label class="col-12 form-label-heading">Authorizations</label>
                            </div>
                            <div class="row">
                                @Html.LabelFor(m => m.EnrollmentFormAuthorization, new { @class = "col-3 form-label-indent" })
                                <div class="col-8">
                                    @Html.RoleBasedCheckBoxFor(m => m.EnrollmentFormAuthorization)
                                </div>
                            </div>
                            <div class="row">
                                @Html.LabelFor(m => m.EmailAuthorization, new { @class = "col-3 form-label-indent" })
                                <div class="col-8">
                                    @Html.RoleBasedCheckBoxFor(m => m.EmailAuthorization)
                                </div>
                            </div>
                            <div class="row">
                                @Html.LabelFor(m => m.AuthorizedToOpenClose, new { @class = "col-3 form-label-indent form-label" })
                                <div class="col-8">
                                    @Html.RoleBasedCheckBoxFor(m => m.AuthorizedToOpenClose)
                                </div>
                            </div>
                            <div class="row">
                                @Html.LabelFor(m => m.DI, new { @class = "col-3 form-label-indent" })
                                <div class="col-1">
                                    @Html.RoleBasedCheckBoxFor(m => m.CorpOnlineUser)
                                </div>
                                <div class="col-7">
                                    @Html.RoleBasedEditorFor(m => m.DI, "form-input")
                                </div>
                            </div>
                            <div class="row">
                                @Html.LabelFor(m => m.EDeposit, new { @class = "col-3 form-label-indent" })
                                <div class="col-1">
                                    @Html.RoleBasedCheckBoxFor(m => m.RemoteScannerUser)
                                </div>
                                <div class="col-7">
                                    @Html.RoleBasedEditorFor(m => m.EDeposit, "form-input")
                                </div>
                            </div>

                        </div>
                        @* First column end *@

                        @* Second column beginning *@
                        <div class="col-6 pl-4">
                            <div class="row">
                                @Html.LabelFor(m => m.LockboxWeb, new { @class = "col-3" })
                                <div class="col-8">
                                    @Html.RoleBasedEditorFor(m => m.LockboxWeb, "form-input")
                                </div>
                            </div>
                            <div class="row">
                                @Html.LabelFor(m => m.Sftp, new { @class = "col-3" })
                                <div class="col-8">
                                    @Html.RoleBasedEditorFor(m => m.Sftp, "form-input")
                                </div>
                            </div>
                            <div class="row">
                                @Html.LabelFor(m => m.Birthday, new { @class = "col-3" })
                                <div class="col-8">
                                    @Html.RoleBasedEditorFor(m => m.Birthday, "form-input js-date-picker")
                                    @Html.ValidationMessageFor(m => m.Birthday, "", new { @class = "form-val-error-tooltip" })
                                </div>
                            </div>

                            <div class="row mt-2">
                                <label class="col-12 form-label-heading">Emails</label>
                            </div>
                            <div class="row">
                                @Html.LabelFor(m => m.StatementEmail, new { @class = "col-3 form-label-indent" })
                                <div class="col-8">
                                    @Html.RoleBasedCheckBoxFor(m => m.StatementEmail)
                                </div>
                            </div>
                            <div class="row">
                                @Html.LabelFor(m => m.LockboxEmail, new { @class = "col-3 form-label-indent" })
                                <div class="col-8">
                                    @Html.RoleBasedCheckBoxFor(m => m.LockboxEmail)
                                </div>
                            </div>
                            <div class="row">
                                @Html.LabelFor(m => m.ACHEmail, new { @class = "col-3 form-label-indent form-label" })
                                <div class="col-8">
                                    @Html.RoleBasedCheckBoxFor(m => m.ACHEmail)
                                </div>
                            </div>

                            <div class="row my-2">
                                <div class="col-11">
                                    @Html.LabelFor(m => m.Notes)
                                    @Html.RoleBasedTextAreaFor(m => m.Notes, 3, 10, "form-textarea")
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-11">
                                    @Html.LabelFor(m => m.RemoteScannerAccountNotes)
                                    @Html.RoleBasedTextAreaFor(m => m.RemoteScannerAccountNotes, 3, 10, "form-textarea")
                                    @Html.ValidationMessageFor(m => m.RemoteScannerAccountNotes, "", new { @class = "form-val-error-tooltip" })
                                </div>
                            </div>
                        </div>
                        @* Second column end *@
                    </div>
                    
                    <div class="row pt-2">
                        @* Second row, first column beginning *@
                        <div class="col-6 pl-4">
                            <div class="row">
                                @Html.LabelFor(m => m.DateAdded, new { @class = "col-3" })
                                <div class="col-8">
                                    @Html.DisplayFor(m => m.DateAdded)
                                </div>
                            </div>
                        </div>
                        @* Second row, first column end *@

                        @* Second row, second column beginning *@
                        <div class="col-6 pl-4">
                            <div class="row">
                                @Html.LabelFor(m => m.DateDeleted, new { @class = "col-3" })
                                <div class="col-8">
                                    @Html.DisplayFor(m => m.DateDeleted)
                                </div>
                            </div>
                        </div>
                        @* Second row, second column end *@
                    </div>

                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                @Html.RoleBasedButton("Save & Close", "submit", "btn btn-primary")
            </div>
         }
         </div>
    </div>
</div>