@model UsersPagedListViewModel

<div id="project-users-list-content">
    <table class="table table-fixed">
        <thead class="table-sm">
            <tr>
                <th class="border-0 table-row-15" scope="col"></th>
                <th class="border-0 table-row-20" scope="col"></th>
                <th class="border-0 table-row-15" scope="col"></th>
                <th class="border-0 table-row-20" scope="col"></th>
                <th class="font-weight-normal border-top-0 border-bottom table-row-10" scope="col" colspan="2">Permissions</th>
                <th class="font-weight-normal border-top-0 border-bottom table-row-15" scope="col" colspan="3">Emails</th>
                <th class="border-0 table-row-5" scope="col"></th>
            </tr>
            <tr>
                <th class="font-weight-normal border-0 text-center" scope="col">Name</th>
                <th class="font-weight-normal border-0 text-center" scope="col">Title</th>
                <th class="font-weight-normal border-0 text-center" scope="col">Phone</th>
                <th class="font-weight-normal border-0 text-center" scope="col">Email</th>
                <th class="font-weight-normal border-0 text-center" scope="col">Active</th>
                <th class="font-weight-normal border-0 text-center" scope="col">Adm</th>
                <th class="font-weight-normal border-0 text-center" scope="col">Stmt</th>
                <th class="font-weight-normal border-0 text-center" scope="col">Lockbox</th>
                <th class="font-weight-normal border-0 text-center" scope="col">ACH</th>
                <th class="font-weight-normal border-0 text-center" scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Items)
            {
                <tr class="border-bottom border-top border-left border-right">
                    <td class="text-center" title="@user.Name">
                        @Html.DisplayFor(m => user.Name)
                    </td>
                    <td class="text-center" title="@user.Title">
                        @Html.DisplayFor(m => user.Title)
                    </td>
                    <td class="text-center" title="@user.Phone">
                        @Html.DisplayFor(m => user.Phone)
                    </td>
                    <td class="text-center" title="@user.Email">
                        @Html.DisplayFor(m => user.Email)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(m => user.Active)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(m => user.Admin)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(m => user.StatementEmail)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(m => user.LockboxEmail)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(m => user.ACHEmail)
                    </td>
                    <td class="text-center">
                        @Ajax.RouteLink(" ", routeName: ProjectUsersControllerRoute.EditUser, routeValues: new
                        {
                            projectId = user.ProjectID,
                            id = user.ID
                        }, ajaxOptions: new AjaxOptions
                        {
                            HttpMethod = "GET",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "user-form-location",
                            OnSuccess = "ModalDialogHelper.showModalDialog",
                            OnFailure = "ErrorHandler.handleAjaxError"
                        }, htmlAttributes: new
                        {
                            @class = "btn-img btn-edit-img",
                            data_modal_target = "#user-form-modal"
                        })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="row">

    <div class="col-8">
        @Html.Partial(ProjectUsersView.UsersEmailListSectionPartial)
    </div>

    <div class="col-4">
        <nav aria-label="User Pagination Nav">
            <ul class="pagination pagination-sm justify-content-end">

                <li class="page-item @(Model.ShowFirstPage ? "" : "disabled")">
                    <a class="page-link" data-toggle="users-change-page" data-project-id="@Model.ProjectID" data-page-number="1" title="First Page">First</a>
                </li>
                <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                    <a class="page-link" data-toggle="users-change-page" data-project-id="@Model.ProjectID" data-page-number="@Model.PreviousPageNumber" title="Previous Page"><</a>
                </li>
                @if (Model.ShowSecondPreviousPage)
                {
                    <li class="page-item">
                        <a class="page-link" data-toggle="users-change-page" data-project-id="@Model.ProjectID" data-page-number="@Model.SecondPreviousPageNumber">@Model.SecondPreviousPageNumber</a>
                    </li>
                }
                @if (Model.HasPreviousPage)
                {
                    <li class="page-item">
                        <a class="page-link" data-toggle="users-change-page" data-project-id="@Model.ProjectID" data-page-number="@Model.PreviousPageNumber">@Model.PreviousPageNumber</a>
                    </li>
                }
                <li class="page-item active">
                    <a class="page-link">@Model.PageNumber</a>
                </li>
                @if (Model.HasNextPage)
                {
                    <li class="page-item">
                        <a class="page-link" data-toggle="users-change-page" data-project-id="@Model.ProjectID" data-page-number="@Model.NextPageNumber">@Model.NextPageNumber</a>
                    </li>
                }
                @if (Model.ShowSecondNextPage)
                {
                    <li class="page-item">
                        <a class="page-link" data-toggle="users-change-page" data-project-id="@Model.ProjectID" data-page-number="@Model.SecondNextPageNumber">@Model.SecondNextPageNumber</a>
                    </li>
                }
                <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                    <a class="page-link" data-toggle="users-change-page" data-project-id="@Model.ProjectID" data-page-number="@Model.NextPageNumber" title="Next Page">></a>
                </li>
                <li class="page-item @(Model.ShowLastPage ? "" : "disabled")">
                    <a class="page-link" data-toggle="users-change-page" data-project-id="@Model.ProjectID" data-page-number="@Model.TotalPages" title="Last Page">Last</a>
                </li>

            </ul>
        </nav>
    </div>

</div>