@{
    ViewBag.Title = "Home";
}

<div class="row py-4">
    <div class="mx-auto">
        <img src="~/Content/Images/aab-logo.png" />
    </div>
</div>

<div class="row py-3">
    <span class="col-1 offset-4 col-form-label px-0">NEW PROJECT</span>
    <div class="col-2">
        <p>@Html.RoleBasedActionLink("Create", ProjectsControllerAction.Create, ControllerName.Projects, null, "btn btn-primary btn-block")</p>
    </div>
</div>

<div class="row py-3">
    <span class="col-1 offset-4 col-form-label px-0">FIND PROJECT</span>
    <div class="col-4">
        <input class="form-control" id="project-search" type="text" placeholder="NAME / PMC ID" autocomplete="off">
    </div>
</div>

<div class="row py-4">
    <div class="col-2 offset-5">
        <h5 class="pb-2">REPORTS</h5>
        <div class="pb-2">@Html.RouteLink("Boarding", routeName: ReportsControllerRoute.ViewReport, routeValues: new { name = ReportName.Boarding })</div>
        <div class="pb-2">@Html.RouteLink("Completed & Hold", routeName: ReportsControllerRoute.ViewReport, routeValues: new { name = ReportName.CompletedAndHold })</div>
        <div class="pb-2">@Html.RouteLink("Software Transition", routeName: ReportsControllerRoute.ViewReport, routeValues: new { name = ReportName.SoftwareTransition })</div>
        <div class="pb-2"><a href="#">CMC by ID</a></div>
        <div class="pb-2"><a href="#">CMC by Name</a></div>
        <div class="pb-2"><a href="#">CD Emails</a></div>
        <div class="pb-2"><a href="#">Coupon</a></div>
    </div>
    <div class="col-2">
        <h5 class="pb-2">EXPORTS</h5>
        <div class="pb-2">@Html.RouteLink("CMC List", routeName: ExportsControllerRoute.GenerateExportFile, routeValues: new { name = ExportName.CmcList })</div>
        <div class="pb-2">@Html.RouteLink("CMC Useful Info List", routeName: ExportsControllerRoute.GenerateExportFile, routeValues: new { name = ExportName.CmcUsefulInfoList })</div>
        <div class="pb-2"><a href="#">All info</a></div>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function() {
            $("#project-search").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/api/projects",
                        method: "GET",
                        dataType: "json",
                        data: {
                            search: request.term
                        },
                        success: function (data) {
                            if (data.length > 0) {
                                response($.map(data, function (item) {
                                    return {
                                        label: item.name,
                                        value: item.id
                                    };
                                }));
                            } else {
                                response([{
                                    label: 'No results found',
                                    value: -1
                                }]);
                            }
                        },
                        error: function () {
                            handleAjaxError();
                        }
                    });
                },
                minLength: 2,
                select: function (event, ui) {
                    event.preventDefault();

                    if (ui.item.value === -1) {
                        $(this).val("");
                        //return false;
                    } else {
                        this.value = ui.item.label;
                        location.href = "/Projects/Edit/" + ui.item.value;
                    }
                }
            });
        });

        function handleAjaxError() {
            alert("An error occurred while processing your request");
        };
    </script>
}