@{
    ViewBag.Title = "Home";
}

<div class="row py-4">
    <div class="offset-md-4">
        <img src="~/Content/Images/aab-logo.png" />
    </div>
</div>

<div class="row py-3">
    <span class="col-md-1 offset-md-4 col-form-label px-0">NEW PROJECT</span>
    <div class="col-md-3">
        <p>@Html.RoleBasedActionLink("Create", ProjectsControllerAction.Create, ControllerName.Projects, null, "btn btn-primary btn-block")</p>
    </div>
</div>

<div class="row py-3">
    <span class="col-md-1 offset-md-4 col-form-label px-0">FIND PROJECT</span>
    <div class="col-md-4">
        <input class="form-control" id="project-search" type="text" placeholder="NAME / PMC ID" autocomplete="off">
    </div>
</div>

<div class="row py-4">
    <div class="col-md-2 offset-md-5">
        <h6>REPORTS</h6>
        <p>@Html.RouteLink("Boarding", routeName: ReportsControllerRoute.ViewReport, routeValues: new { name = ReportName.Boarding })</p>
        <p>@Html.RouteLink("Completed & Hold", routeName: ReportsControllerRoute.ViewReport, routeValues: new { name = ReportName.CompletedAndHold })</p>
        <p>@Html.RouteLink("Software Transition", routeName: ReportsControllerRoute.ViewReport, routeValues: new { name = ReportName.SoftwareTransition })</p>
        <p><a href="#">CMC by ID</a></p>
        <p><a href="#">CMC by Name</a></p>
        <p><a href="#">CD Emails</a></p>
        <p><a href="#">Coupon</a></p>
    </div>
    <div class="col-md-2">
        <h6>EXPORTS</h6>
        <p>@Html.RouteLink("CMC List", routeName: ExportsControllerRoute.GenerateExportFile, routeValues: new { name = ExportName.CmcList })</p>
        <p>@Html.RouteLink("CMC Useful Info List", routeName: ExportsControllerRoute.GenerateExportFile, routeValues: new { name = ExportName.CmcUsefulInfoList })</p>
        <p><a href="#">All info</a></p>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function() {
            $("#project-search").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/api/projects",
                        method: "GET",
                        dataType: "json",
                        data: {
                            search: request.term
                        },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.name,
                                    value: item.id
                                };
                            }));
                        },
                        error: function () {
                            handleAjaxError();
                        }
                    });
                },
                minLength: 2,
                select: function (event, ui) {
                    event.preventDefault();
                    this.value = ui.item.label;
                    location.href = "/Projects/Edit/" + ui.item.value;
                }
            });
        });
    </script>
}