@model IEnumerable<ScannerFormViewModel>

<table class="table table-sm table-fixed mb-0">
    <thead>
        <tr>
            <th class="font-weight-normal text-muted border-0 table-row-40" scope="col">
                @Html.DisplayNameFor(m => m.FirstOrDefault().Model)
            </th>
            <th class="font-weight-normal text-muted border-0 table-row-35" scope="col">
                @Html.DisplayNameFor(m => m.FirstOrDefault().DateInstalled)
            </th>
            <th class="font-weight-normal border-0 table-row-25" scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var scanner in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => scanner.Model)
                </td>
                <td>
                    @Html.DisplayFor(m => scanner.DateInstalled)
                </td>
                <td>
                    @Ajax.RouteLink(" ", routeName: CheckScannersControllerRoute.EditScanner, routeValues: new
                    {
                        projectId = scanner.ProjectID,
                        id = scanner.ID
                    }, ajaxOptions: new AjaxOptions
                    {
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "scanner-form-location",
                        OnSuccess = "showModalTarget",
                        OnFailure = "handleAjaxError"
                    }, htmlAttributes: new
                    {
                        @class = "btn-img btn-edit-img",
                        data_modal_target = "#scanner-form-modal"
                    })
                        
                    @Ajax.RoleBasedRouteLink(" ", routeName: CheckScannersControllerRoute.ConfirmDeleteScanner, routeValues: new
                    {
                        projectId = scanner.ProjectID,
                        id = scanner.ID
                    }, ajaxOptions: new AjaxOptions
                    {
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "confirm-delete-dialog-location",
                        OnSuccess = "showModalTarget",
                        OnFailure = "handleAjaxError"
                    }, htmlAttributes: new
                    {
                        @class = "btn-img btn-delete-img",
                        data_modal_target = "#confirm-delete-dialog-modal"
                    })
                </td>
            </tr>
        }
    </tbody>
</table>