@model ScannerFormViewModel

<div class="modal fade" id="scanner-form-modal" tabindex="-1" role="dialog" aria-labelledby="scanner-form-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold" id="user-form-modal-label">Check Scanner Details</h5>
                <h5 class="modal-title justify-content-end">Scanner ID @Html.DisplayFor(m => m.ID)</h5>
            </div>
            @using (Ajax.BeginRouteForm(Model.CreateUpdateRoute, routeValues: new
            {
                projectId = Model.ProjectID,
                id = Model.ID
            }, ajaxOptions: new AjaxOptions
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "check-scanners-list",
                OnBegin = "ModalDialogHelper.disableFormSubmitButton",
                OnComplete = "ModalDialogHelper.hideModalDialog",
                OnFailure = "ErrorHandler.handleAjaxError"
            }, htmlAttributes: new
            {
                id = "scanner-form-element",
                data_modal_target = "#scanner-form-modal"
            }))
            {
            <div class="modal-body">
                <div class="container-fluid">

                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.ID)
                    @Html.HiddenFor(m => m.ProjectID)

                    <div class="row">

                        @* First column beginning *@
                        <div class="col-6">
                            <div class="row mb-1">
                                @Html.LabelFor(m => m.@Model, new { @class = "col-5 form-label required" })
                                <div class="col-7">
                                    @Html.RoleBasedEditorFor(m => m.@Model, "form-input")
                                    @Html.ValidationMessageFor(m => m.@Model, "", new { @class = "form-val-error-tooltip" })
                                </div>
                            </div>
                            <div class="row mb-1">
                                @Html.LabelFor(m => m.SerialNumber, new { @class = "col-5 form-label" })
                                <div class="col-7">
                                    @Html.RoleBasedEditorFor(m => m.SerialNumber, "form-input")
                                    @Html.ValidationMessageFor(m => m.SerialNumber, "", new { @class = "form-val-error-tooltip" })
                                </div>
                            </div>
                            <div class="row mb-1">
                                @Html.LabelFor(m => m.System, new { @class = "col-5 form-label" })
                                <div class="col-7">
                                    @Html.RoleBasedEditorFor(m => m.System, "form-input")
                                    @Html.ValidationMessageFor(m => m.System, "", new { @class = "form-val-error-tooltip" })
                                </div>
                            </div>
                            <div class="row mb-1">
                                @Html.LabelFor(m => m.ComputerInstalledOn, new { @class = "col-5 form-label" })
                                <div class="col-7">
                                    @Html.RoleBasedEditorFor(m => m.ComputerInstalledOn, "form-input")
                                    @Html.ValidationMessageFor(m => m.ComputerInstalledOn, "", new { @class = "form-val-error-tooltip" })
                                </div>
                            </div>

                            <div class="row mt-3 mb-1">
                                @Html.LabelFor(m => m.DateMailed, new { @class = "col-5 form-label" })
                                <div class="col-7">
                                    @Html.RoleBasedEditorFor(m => m.DateMailed, "form-input js-date-picker")
                                    @Html.ValidationMessageFor(m => m.DateMailed, "", new { @class = "form-val-error-tooltip" })
                                </div>
                            </div>
                            <div class="row mb-1">
                                @Html.LabelFor(m => m.DateInstalled, new { @class = "col-5 form-label" })
                                <div class="col-7">
                                    @Html.RoleBasedEditorFor(m => m.DateInstalled, "form-input js-date-picker")
                                    @Html.ValidationMessageFor(m => m.DateInstalled, "", new { @class = "form-val-error-tooltip" })
                                </div>
                            </div>
                            <div class="row mb-1">
                                @Html.LabelFor(m => m.DateTrained, new { @class = "col-5 form-label" })
                                <div class="col-7">
                                    @Html.RoleBasedEditorFor(m => m.DateTrained, "form-input js-date-picker")
                                    @Html.ValidationMessageFor(m => m.DateTrained, "", new { @class = "form-val-error-tooltip" })
                                </div>
                            </div>

                        </div>
                        @* First column end *@

                        @* Second column beginning *@
                        <div class="col-6">
                            
                            <div class="row">
                                <div class="col-11 offset-1 ">
                                    @Html.LabelFor(m => m.Notes)
                                    @Html.RoleBasedTextAreaFor(m => m.Notes, 9, 10, "form-textarea")
                                </div>
                            </div>

                        </div>
                        @* Second column end *@

                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                @Html.RoleBasedButton("Save & Close", "submit", "btn btn-primary")
            </div>
            }
         </div>
    </div>
</div>