@model ProjectFormViewModel

@{
    var reportButtonCssClass = "btn btn-primary btn-block btn-sm";
    if (Model.ID == 0)
    {
        reportButtonCssClass += " btn-link-disabled";
    }
}

<div class="tab-body-content">

    <div class="row">

        @* First column beginning *@
        <div class="col-4">

            <div class="form-fieldset-lg">
                <div class="row">
                    <label class="col form-label-heading mb-0">Type</label>
                </div>
                <div class="col-10 indented">
                    <div class="row row-check-grid-top">
                        <div class="col-3 offset-6 text-center">
                            <label>Debit</label>
                        </div>
                        <div class="col-3 text-center">
                            <label>Credit</label>
                        </div>
                    </div>
                    <div class="row row-check-grid">
                        <label class="col-6 check-grid-label">@Html.DisplayNameFor(m => m.ACHUploadPPDDebit)</label>
                        <div class="col-3 text-center">
                            @Html.RoleBasedCheckBoxFor(m => m.ACHUploadPPDDebit)
                        </div>
                        <div class="col-3 text-center">
                            @Html.RoleBasedCheckBoxFor(m => m.ACHUploadPPDCredit)
                        </div>
                    </div>
                    <div class="row row-check-grid">
                        <label class="col-6 check-grid-label">@Html.DisplayNameFor(m => m.ACHUploadCCDDebit)</label>
                        <div class="col-3 text-center">
                            @Html.RoleBasedCheckBoxFor(m => m.ACHUploadCCDDebit)
                        </div>
                        <div class="col-3 text-center">
                            @Html.RoleBasedCheckBoxFor(m => m.ACHUploadCCDCredit)
                        </div>
                    </div>
                    <div class="row row-check-grid">
                        <label class="col-6 check-grid-label">@Html.DisplayNameFor(m => m.ACHTemplatePPDDebit)</label>
                        <div class="col-3 text-center">
                            @Html.RoleBasedCheckBoxFor(m => m.ACHTemplatePPDDebit)
                        </div>
                        <div class="col-3 text-center">
                            @Html.RoleBasedCheckBoxFor(m => m.ACHTemplatePPDCredit)
                        </div>
                    </div>
                    <div class="row row-check-grid">
                        <label class="col-6 check-grid-label">@Html.DisplayNameFor(m => m.ACHTemplateCCDDebit)</label>
                        <div class="col-3 text-center">
                            @Html.RoleBasedCheckBoxFor(m => m.ACHTemplateCCDDebit)
                        </div>
                        <div class="col-3 text-center">
                            @Html.RoleBasedCheckBoxFor(m => m.ACHTemplateCCDCredit)
                        </div>
                    </div>
                    <div class="row row-check-grid">
                        <label class="col-6 check-grid-label">@Html.DisplayNameFor(m => m.ACHSftpPPDDebit)</label>
                        <div class="col-3 text-center">
                            @Html.RoleBasedCheckBoxFor(m => m.ACHSftpPPDDebit)
                        </div>
                        <div class="col-3 text-center">
                            @Html.RoleBasedCheckBoxFor(m => m.ACHSftpPPDCredit)
                        </div>
                    </div>
                    <div class="row row-check-grid">
                        <label class="col-6 check-grid-label">@Html.DisplayNameFor(m => m.ACHSftpCCDDebit)</label>
                        <div class="col-3 text-center">
                            @Html.RoleBasedCheckBoxFor(m => m.ACHSftpCCDDebit)
                        </div>
                        <div class="col-3 text-center">
                            @Html.RoleBasedCheckBoxFor(m => m.ACHSftpCCDCredit)
                        </div>
                    </div>
                    <div class="row row-check-grid-bottom">
                        <label class="col-6 check-grid-label">@Html.DisplayNameFor(m => m.ACHWebPPDDebit)</label>
                        <div class="col-3 text-center">
                            @Html.RoleBasedCheckBoxFor(m => m.ACHWebPPDDebit)
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-fieldset">
                <div class="row check-indented">
                    <div class="col-4 form-check">
                        @Html.RoleBasedRadioButtonFor(m => m.Balanced, true, "form-check-input")
                        <label class="form-check-label">Balanced</label>
                    </div>
                    <div class="col-4 form-check">
                        @Html.RoleBasedRadioButtonFor(m => m.Balanced, false, "form-check-input")
                        <label class="form-check-label">Unbalanced</label>
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-1 check-indented">
                        @Html.RoleBasedCheckBoxFor(m => m.WireTransferTemplates)
                    </div>
                    @Html.LabelFor(m => m.WireTransferTemplates, new { @class = "check-label" })
                </div>
                <div class="row">
                    <div class="col-1 check-indented">
                        @Html.RoleBasedCheckBoxFor(m => m.ACHDualApproval)
                    </div>
                    @Html.LabelFor(m => m.ACHDualApproval, new { @class = "check-label" })
                </div>
            </div>

        </div>
        @* First column end *@

        @* Second column beginning *@
        <div class="col-4">

            <div class="form-fieldset-xl">
                <div class="row">
                    <label class="col form-label-heading">Limit</label>
                </div>
                <div class="row field-group">
                    @Html.LabelFor(m => m.ACHEstimatedDeposits, new { @class = "col-4 label-indented" })
                    <div class="col-7">
                        <span class="form-input-prepend">$</span>
                        @Html.RoleBasedEditorFor(m => m.ACHEstimatedDeposits, "form-input")
                        @Html.ValidationMessageFor(m => m.ACHEstimatedDeposits, "", new { @class = "form-val-error-tooltip" })
                    </div>
                </div>
                <div class="row field-group">
                    @Html.LabelFor(m => m.ACHEstimatedDepositsDate, new { @class = "col-4 label-indented" })
                    <div class="col-7">
                        @Html.RoleBasedEditorFor(m => m.ACHEstimatedDepositsDate, "form-input js-date-picker")
                        @Html.ValidationMessageFor(m => m.ACHEstimatedDepositsDate, "", new { @class = "form-val-error-tooltip" })
                    </div>
                </div>
                <div class="row field-group">
                    @Html.LabelFor(m => m.ACHLimit, new { @class = "col-4 label-indented" })
                    <div class="col-7">
                        <span class="form-input-prepend">$</span>
                        @Html.RoleBasedEditorFor(m => m.ACHLimit, "form-input")
                        @Html.ValidationMessageFor(m => m.ACHLimit, "", new { @class = "form-val-error-tooltip" })
                    </div>
                </div>
                <div class="row field-group">
                    @Html.LabelFor(m => m.ACHSystemLimit, new { @class = "col-4 label-indented" })
                    <div class="col-7">
                        <span class="form-input-prepend">$</span>
                        @Html.RoleBasedEditorFor(m => m.ACHSystemLimit, "form-input")
                        @Html.ValidationMessageFor(m => m.ACHSystemLimit, "", new { @class = "form-val-error-tooltip" })
                    </div>
                </div>
                <div class="row field-group">
                    @Html.LabelFor(m => m.OriginalReviewDate, new { @class = "col-4 label-indented" })
                    <div class="col-7">
                        @Html.RoleBasedEditorFor(m => m.OriginalReviewDate, "form-input js-date-picker")
                        @Html.ValidationMessageFor(m => m.OriginalReviewDate, "", new { @class = "form-val-error-tooltip" })
                    </div>
                </div>
                <div class="row field-group">
                    @Html.LabelFor(m => m.LastReviewDate, new { @class = "col-4 label-indented" })
                    <div class="col-7">
                        @Html.RoleBasedEditorFor(m => m.LastReviewDate, "form-input js-date-picker")
                        @Html.ValidationMessageFor(m => m.LastReviewDate, "", new { @class = "form-val-error-tooltip" })
                    </div>
                </div>
            </div>

            <div class="form-fieldset-lg">
                <div class="row field-group">
                    @Html.LabelFor(m => m.DICompanyID, new { @class = "col-4" })
                    <div class="col-7">
                        @Html.RoleBasedEditorFor(m => m.DICompanyID, "form-input")
                        @Html.ValidationMessageFor(m => m.DICompanyIDReadOnly, "", new { @class = "form-val-error-tooltip" })
                    </div>
                </div>
            </div>

            <div>
                <div class="row">
                    <label class="col form-label-heading">ACH Reports</label>
                </div>
                <div class="row mb-2">
                    <div class="col-6">
                        @Html.RouteLink("ACH Spec Report", routeName: ReportsControllerRoute.ViewReport, routeValues: new
                        {
                            name = ReportName.AchSpec,
                            projectId = Model.ID
                        }, htmlAttributes: new
                        {
                            @class = reportButtonCssClass

                        })
                    </div>
                    <div class="col-6">
                        @Html.RouteLink("ACH Risk - Initial", routeName: ReportsControllerRoute.ViewReport, routeValues: new
                        {
                            name = ReportName.AchRiskInitial,
                            projectId = Model.ID
                        }, htmlAttributes: new
                        {
                            @class = reportButtonCssClass

                        })
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6">
                        @Html.RouteLink("Risk New - Initial", routeName: ReportsControllerRoute.ViewReport, routeValues: new
                        {
                             name = ReportName.AchInitialReview,
                             projectId = Model.ID
                        }, htmlAttributes: new
                        {
                            @class = reportButtonCssClass
                        })
                    </div>
                    <div class="col-6">
                        @Html.RouteLink("ACH Risk - 6 Month", routeName: ReportsControllerRoute.ViewReport, routeValues: new
                        {
                            name = ReportName.AchRiskSixMonth,
                            projectId = Model.ID
                        }, htmlAttributes: new
                        {
                            @class = reportButtonCssClass

                        })
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6">
                        @Html.RouteLink("Risk New - 6 Month", routeName: ReportsControllerRoute.ViewReport, routeValues: new
                        {
                            name = ReportName.AchSixMonthReview,
                            projectId = Model.ID
                        }, htmlAttributes: new
                        {
                            @class = reportButtonCssClass
                        })
                    </div>
                    <div class="col-6">
                        @Html.RouteLink("ACH Risk - Post 6 Month", routeName: ReportsControllerRoute.ViewReport, routeValues: new
                        {
                            name = ReportName.AchRiskPostSixMonth,
                            projectId = Model.ID
                        }, htmlAttributes: new
                        {
                            @class = reportButtonCssClass

                        })
                    </div>
                </div>
            </div>

        </div>
        @* Second column end *@

        @* Third column beginning *@
        <div class="col-4">

            <div class="form-fieldset-md">
                <div class="row">
                    <div class="col-12">
                        @Html.LabelFor(m => m.ACHReviewNotes)
                        @Html.RoleBasedTextAreaFor(m => m.ACHReviewNotes, 9, 10, cssClass: "form-textarea textarea-size-md")
                        @Html.ValidationMessageFor(m => m.ACHReviewNotes, "", new { @class = "form-val-error-tooltip" })
                    </div>
                </div>
            </div>

            <div>
                <div class="row">
                    <div class="col-12">
                        @Html.LabelFor(m => m.ACHSpectFormInstructions)
                        <div class="label-small-note">Prints on form sent to ACH Dept.</div>
                        @Html.RoleBasedTextAreaFor(m => m.ACHSpectFormInstructions, 9, 10, cssClass: "form-textarea textarea-size-md")
                        @Html.ValidationMessageFor(m => m.ACHSpectFormInstructions, "", new { @class = "form-val-error-tooltip" })
                    </div>
                </div>
            </div>

        </div>
        @* Third column end *@

    </div>

</div>