@model ProjectFormViewModel

<div class="tab-body-content">

    <div class="row">

        @* First column beginning *@
        <div class="col-4">

            <div class="row">
                @Html.LabelFor(m => m.Status, new { @class = "col-3" })
                <div class="col-7">
                    @Html.RoleBasedDropDownListFor(m => m.Status, new SelectList(Model.StatusList), null, cssClass: "form-input")
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(m => m.StartDate, new { @class = "col-3" })
                <div class="col-7">
                    @Html.RoleBasedEditorFor(m => m.StartDate, cssClass: "form-input")
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(m => m.EndDate, new { @class = "col-3" })
                <div class="col-7">
                    @Html.RoleBasedEditorFor(m => m.EndDate, cssClass: "form-input")
                </div>
            </div>

            <div class="row mt-2">
                <label class="col-12 form-label-heading">Contract Review</label>
            </div>
            <div class="row pl-2">
                <div class="col-1">
                    @Html.RoleBasedCheckBoxFor(m => m.EnrollmentFormReceived)
                </div>
                @Html.LabelFor(m => m.EnrollmentFormReceived, new { @class = "col-11" })
            </div>
            <div class="row pl-2">
                <div class="col-1">
                    @Html.RoleBasedCheckBoxFor(m => m.MasterSigCardReceived)
                </div>
                @Html.LabelFor(m => m.MasterSigCardReceived, new { @class = "col-11" })
            </div>
            <div class="row pl-2">
                <div class="col-1">
                    @Html.RoleBasedCheckBoxFor(m => m.WelcomeEmailSent)
                </div>
                @Html.LabelFor(m => m.WelcomeEmailSent, new { @class = "col-11" })
            </div>

            <div class="row">
                <label class="col-12 form-label-heading">Account Opening</label>
            </div>
            <div class="row pl-2">
                <div class="col-1">
                    @Html.RoleBasedCheckBoxFor(m => m.AssociationListReceived)
                </div>
                @Html.LabelFor(m => m.AssociationListReceived, new { @class = "col-11" })
            </div>
            <div class="row pl-2">
                <div class="col-1">
                    @Html.RoleBasedCheckBoxFor(m => m.AssociationAccountsAssigned)
                </div>
                @Html.LabelFor(m => m.AssociationAccountsAssigned, new { @class = "col-11" })
            </div>
            <div class="row pl-2">
                <div class="col-1">
                    @Html.RoleBasedCheckBoxFor(m => m.AssociationSignatureCardsSent)
                </div>
                @Html.LabelFor(m => m.AssociationSignatureCardsSent, new { @class = "col-11" })
            </div>

            <div class="row">
                <label class="col-12 form-label-heading">Online Banking</label>
            </div>
            <div class="row pl-2">
                <div class="col-1">
                    @Html.RoleBasedCheckBoxFor(m => m.OnlineBankingSetup)
                </div>
                @Html.LabelFor(m => m.OnlineBankingSetup, new { @class = "col-11" })
            </div>
            <div class="row pl-2">
                <div class="col-1">
                    @Html.RoleBasedCheckBoxFor(m => m.OnlineBankingTrained)
                </div>
                @Html.LabelFor(m => m.OnlineBankingTrained, new { @class = "col-11" })
            </div>

            <div class="row">
                <label class="col-12 form-label-heading">ACH</label>
            </div>
            <div class="row pl-2">
                <div class="col-1">
                    @Html.RoleBasedCheckBoxFor(m => m.ACHLimitAndSpecSubmitted)
                </div>
                @Html.LabelFor(m => m.ACHLimitAndSpecSubmitted, new { @class = "col-11" })
            </div>
            <div class="row pl-2">
                <div class="col-1">
                    @Html.RoleBasedCheckBoxFor(m => m.ACHSuccessfulSubmitted)
                </div>
                @Html.LabelFor(m => m.ACHSuccessfulSubmitted, new { @class = "col-11" })
            </div>

        </div>
        @* First column end *@


        @* Second column beginning *@
        <div class="col-4">

            <div class="row">
                <label class="col-12 form-label-heading">Lockbox</label>
            </div>
            <div class="row pl-2">
                <div class="col-1">
                    @Html.RoleBasedCheckBoxFor(m => m.LockboxWanted)
                </div>
                @Html.LabelFor(m => m.LockboxWanted, new { @class = "col-11" })
            </div>
            <div class="row pl-2">
                <div class="col-1">
                    @Html.RoleBasedCheckBoxFor(m => m.POBoxAssigned)
                </div>
                @Html.LabelFor(m => m.POBoxAssigned, new { @class = "col-11" })
            </div>
            <div class="row pl-2">
                <div class="col-1">
                    @Html.RoleBasedCheckBoxFor(m => m.ValidationFileReceived)
                </div>
                @Html.LabelFor(m => m.ValidationFileReceived, new { @class = "col-11" })
            </div>
            <div class="row pl-2">
                <div class="col-1">
                    @Html.RoleBasedCheckBoxFor(m => m.LockboxRequestSent)
                </div>
                @Html.LabelFor(m => m.LockboxRequestSent, new { @class = "col-11" })
            </div>
            <div class="row pl-2">
                <div class="col-1">
                    @Html.RoleBasedCheckBoxFor(m => m.RemitanceFileTested)
                </div>
                @Html.LabelFor(m => m.RemitanceFileTested, new { @class = "col-11" })
            </div>
            <div class="row pl-2">
                <div class="col-1">
                    @Html.RoleBasedCheckBoxFor(m => m.RemitanceFileLife)
                </div>
                @Html.LabelFor(m => m.RemitanceFileLife, new { @class = "col-11" })
            </div>
            <div class="row pl-2">
                <div class="col-1">
                    @Html.RoleBasedCheckBoxFor(m => m.CouponsOrdered)
                </div>
                @Html.LabelFor(m => m.CouponsOrdered, new { @class = "col-11" })
            </div>
            <div class="row pl-2">
                <div class="col-1">
                    @Html.RoleBasedCheckBoxFor(m => m.CouponProofReviewed)
                </div>
                @Html.LabelFor(m => m.CouponProofReviewed, new { @class = "col-11" })
            </div>

            <div class="row mt-3">
                <label class="col-12 form-label-heading">Check Scanners</label>
            </div>
            <div class="row pl-2">
                <div class="col-1">
                    @Html.RoleBasedCheckBoxFor(m => m.ScannerWanted)
                </div>
                @Html.LabelFor(m => m.ScannerWanted, new { @class = "col-11" })
            </div>
            <div class="row pl-2">
                <div class="col-1">
                    @Html.RoleBasedCheckBoxFor(m => m.MMOnCheckScanner)
                </div>
                @Html.LabelFor(m => m.MMOnCheckScanner, new { @class = "col-11" })
            </div>

            <div class="row pb-3">
                <div class="col-11">
                    <div class="col-2 offset-8">
                        @Ajax.RoleBasedRouteLink("Add Scanner", routeName: CheckScannersControllerRoute.CreateScanner, routeValues: new
                        {
                            projectId = Model.ID
                        }, ajaxOptions: new AjaxOptions
                        {
                            HttpMethod = "GET",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "scanner-form-location",
                            OnSuccess = "showModalTarget",
                            OnFailure = "handleAjaxError"
                        }, htmlAttributes: new 
                        {
                            @class = "btn btn-sm btn-add-img",
                            data_modal_target = "#scanner-form-modal"
                        })
                    </div>
                    <div id="check-scanners-list" class="list-widget">
                        @Html.Action(CheckScannersControllerAction.Index, ControllerName.CheckScanners, routeValues: new
                        {
                            projectId = Model.ID
                        })
                    </div>
                </div>
            </div>

        </div>
        @* Second column end *@

        @* Third column beginning *@
        <div class="col-4">

            <div class="row mb-3">
                <div class="col-12">
                    @Html.LabelFor(m => m.BoardingNextSteps)
                    @Html.RoleBasedTextAreaFor(m => m.BoardingNextSteps, 6, 10, cssClass: "form-textarea")
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12">
                    @Html.LabelFor(m => m.BoardingNotes)
                    @Html.RoleBasedTextAreaFor(m => m.BoardingNotes, 6, 10, cssClass: "form-textarea")
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12">
                    @Html.LabelFor(m => m.Narrative)
                    @Html.RoleBasedTextAreaFor(m => m.Narrative, 6, 10, cssClass: "form-textarea")
                </div>
            </div>

        </div>
        @* Third column end *@

    </div>

</div>
