@model ProjectFormViewModel

<div class="tab-body-content">

    <div class="row">
        @*First column start*@
        <div class="col-4">

            <div class="row mt-1">
                <label class="col-5 form-label-heading">Physical Address</label>
            </div>

            <div class="row">
                @Html.LabelFor(m => m.Address, new { @class = "col-3 form-label-indent required" })
                <div class="col-8 trigger">
                    @Html.RoleBasedEditorFor(m => m.Address, cssClass: "form-input")
                    @Html.ValidationMessageFor(m => m.Address, "", new { @class = "form-val-error-tooltip" })
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(m => m.City, new { @class = "col-3 form-label-indent required" })
                <div class="col-8">
                    @Html.RoleBasedEditorFor(m => m.City, cssClass: "form-input")
                    @Html.ValidationMessageFor(m => m.City, "", new { @class = "form-val-error-tooltip" })
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(m => m.State, new { @class = "col-3 form-label-indent required" })
                <div class="col-5">
                    @Html.RoleBasedEditorFor(m => m.State, cssClass: "form-input")
                    @Html.ValidationMessageFor(m => m.State, "", new { @class = "form-val-error-tooltip" })
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(m => m.ZipCode, new { @class = "col-3 form-label-indent required" })
                <div class="col-5">
                    @Html.RoleBasedEditorFor(m => m.ZipCode, cssClass: "form-input js-zipcode-mask")
                    @Html.ValidationMessageFor(m => m.ZipCode, "", new { @class = "form-val-error-tooltip" })
                </div>
            </div>

            <div class="row mt-3">
                <label class="col-4 form-label-heading">Mailing Address</label>
                <div>
                    @Html.RoleBasedCheckBoxFor(m => m.MailingSameAsPhysical)
                    @Html.LabelFor(m => m.MailingSameAsPhysical)
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(m => m.MailingAddress, new { @class = "col-3 form-label-indent" })
                <div class="col-8">
                    @Html.RoleBasedEditorFor(m => m.MailingAddress, cssClass: "form-input")
                    @Html.ValidationMessageFor(m => m.MailingAddress, "", new { @class = "form-val-error-tooltip" })
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(m => m.MailingCity, new { @class = "col-3 form-label-indent" })
                <div class="col-8">
                    @Html.RoleBasedEditorFor(m => m.MailingCity, cssClass: "form-input")
                    @Html.ValidationMessageFor(m => m.MailingCity, "", new { @class = "form-val-error-tooltip" })
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(m => m.MailingState, new { @class = "col-3 form-label-indent" })
                <div class="col-5">
                    @Html.RoleBasedEditorFor(m => m.MailingState, cssClass: "form-input")
                    @Html.ValidationMessageFor(m => m.MailingState, "", new { @class = "form-val-error-tooltip" })
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(m => m.MailingZipCode, new { @class = "col-3 form-label-indent" })
                <div class="col-5">
                    @Html.RoleBasedEditorFor(m => m.MailingZipCode, cssClass: "form-input js-zipcode-mask")
                    @Html.ValidationMessageFor(m => m.MailingZipCode, "", new { @class = "form-val-error-tooltip" })
                </div>
            </div>

            <div class="row mt-4 mb-2">
                @Html.LabelFor(m => m.TIN, new { @class = "col-3 required" })
                <div class="col-8">
                    @Html.RoleBasedEditorFor(m => m.TIN, cssClass: "form-input")
                    @Html.ValidationMessageFor(m => m.TIN, "", new { @class = "form-val-error-tooltip" })
                </div>
            </div>

            <div class="row my-2">
                @Html.LabelFor(m => m.TimeZone, new { @class = "col-3" })
                <div class="col-8">
                    @Html.RoleBasedEditorFor(m => m.TimeZone, cssClass: "form-input")
                    @Html.ValidationMessageFor(m => m.TimeZone, "", new { @class = "form-val-error-tooltip" })
                </div>
            </div>

            <div class="row my-2">
                @Html.LabelFor(m => m.Phone, new { @class = "col-3 required" })
                <div class="col-8">
                    @Html.RoleBasedEditorFor(m => m.Phone, cssClass: "form-input js-phone-mask")
                    @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "form-val-error-tooltip" })
                </div>
            </div>

            <div class="row my-2">
                @Html.LabelFor(m => m.Fax, new { @class = "col-3" })
                <div class="col-8">
                    @Html.RoleBasedEditorFor(m => m.Fax, cssClass: "form-input js-phone-mask")
                    @Html.ValidationMessageFor(m => m.Fax, "", new { @class = "form-val-error-tooltip" })
                </div>
            </div>

            <div class="row my-2">
                @Html.LabelFor(m => m.Website, new { @class = "col-3" })
                <div class="col-8">
                    @Html.RoleBasedEditorFor(m => m.Website, cssClass: "form-input")
                    @Html.ValidationMessageFor(m => m.Website, "", new { @class = "form-val-error-tooltip" })
                </div>
            </div>

        </div>
        @* First column end *@

        @* Second column start *@
        <div class="col-4">

            <div class="row mt-2">
                @Html.LabelFor(m => m.Active, new { @class = "col-3 form-label" })
                <div class="col-1">
                    @Html.RoleBasedCheckBoxFor(m => m.Active)
                </div>
                @*@if (!Model.Active)
                {
                    <div class="col-6 text-center">
                        <span class="badge badge-danger">
                            INACTIVE PROJECT
                        </span>
                    </div>
                }*@
            </div>

            <div class="row my-1">
                @Html.LabelFor(m => m.Institution, new { @class = "col-3 required" })
                <div class="col-8">
                    @Html.RoleBasedDropDownListFor(m => m.Institution, new SelectList(Model.InstitutionList), "", cssClass: "select2-hidden")
                    @Html.ValidationMessageFor(m => m.Institution, "", new { @class = "form-val-error-tooltip" })
                </div>
            </div>

            <div class="row mb-3">
                @Html.LabelFor(m => m.RelationshipRate, new { @class = "col-12 mb-0" })
                <div class="col-9 offset-3">
                    <div class="form-check">
                        @Html.RoleBasedRadioButtonFor(m => m.RelationshipRate, "All", cssClass: "form-check-input")
                        <label class="form-check-label">All</label>
                    </div>
                    <div class="form-check">
                        @Html.RoleBasedRadioButtonFor(m => m.RelationshipRate, "Lockbox", cssClass: "form-check-input")
                        <label class="form-check-label">Lockbox</label>
                    </div>
                    <div class="form-check">
                        @Html.RoleBasedRadioButtonFor(m => m.RelationshipRate, "No", cssClass: "form-check-input")
                        <label class="form-check-label">No</label>
                    </div>
                </div>
            </div>

            <div class="row my-1">
                @Html.LabelFor(m => m.OwnerID, new { @class = "col-3 required" })
                <div class="col-8">
                    @Html.RoleBasedDropDownListFor(m => m.OwnerID, Model.EmployeeList, "", cssClass: "select2-hidden")
                    @Html.ValidationMessageFor(m => m.OwnerID, "", new { @class = "form-val-error-tooltip" })
                </div>
            </div>

            <div class="row my-1">
                @Html.LabelFor(m => m.AFPID, new { @class = "col-3 required" })
                <div class="col-8">
                    @Html.RoleBasedDropDownListFor(m => m.AFPID, Model.EmployeeList, "", cssClass: "select2-hidden")
                    @Html.ValidationMessageFor(m => m.AFPID, "", new { @class = "form-val-error-tooltip" })
                </div>
            </div>

            <div class="row my-1">
                @Html.LabelFor(m => m.BoardingManagerID, new { @class = "col-3 required" })
                <div class="col-8">
                    @Html.RoleBasedDropDownListFor(m => m.BoardingManagerID, Model.EmployeeList, "", cssClass: "select2-hidden")
                    @Html.ValidationMessageFor(m => m.BoardingManagerID, "", new { @class = "form-val-error-tooltip" })
                </div>
            </div>

            <div class="row my-2">
                @Html.LabelFor(m => m.SoftwareReadOnly, new { @class = "col-3" })
                <div class="col-8">
                    <span class="display-field">
                        @Html.DisplayFor(m => m.SoftwareReadOnly)
                    </span>
                </div>
            </div>

            <div class="row mt-2">
                <label class="col-4 form-label-heading">Lock Box</label>
            </div>
            <div class="row mb-1">
                @Html.LabelFor(m => m.LockboxStatus, new { @class = "col-3 form-label-indent" })
                <div class="col-8">
                    @Html.RoleBasedDropDownListFor(m => m.LockboxStatus, new SelectList(Model.LockboxStatusList), null, cssClass: "select2-hidden")
                </div>
            </div>
            <div class="row mb-1 select2-">
                @Html.LabelFor(m => m.LockboxSystem, new { @class = "col-3 form-label-indent" })
                <div class="col-8">
                    @Html.RoleBasedDropDownListFor(m => m.LockboxSystem, new SelectList(Model.LockboxSystemList), "", cssClass: "select2-hidden")
                </div>
            </div>
            <div class="row mb-1">
                @Html.LabelFor(m => m.LockboxLiveDate, new { @class = "col-3 form-label-indent" })
                <div class="col-8">
                    <span class="display-field">
                        @Html.DisplayFor(m => m.LockboxLiveDate)
                    </span>
                </div>
            </div>

            <div class="row mt-2 mb-1">
                @Html.LabelFor(m => m.NumberOfAssociationsReadOnly, new { @class = "col-3" })
                <div class="col-4">
                    <span class="display-field">
                        @Html.DisplayFor(m => m.NumberOfAssociationsReadOnly)
                    </span>
                </div>
            </div>
            <div class="row my-1">
                @Html.LabelFor(m => m.NumberOfDoorsReadOnly, new { @class = "col-3" })
                <div class="col-4">
                    <span class="display-field">
                        @Html.DisplayFor(m => m.NumberOfDoorsReadOnly)
                    </span>
                </div>
            </div>

        </div>
        @* Second column end *@

        @* Third column start *@
        <div class="col-4">

            <div class="row my-2">
                @Html.LabelFor(m => m.EstimatedDeposits, new { @class = "col-3" })
                <div class="col-6">
                    <span class="form-input-prepend">$</span>
                    @Html.RoleBasedEditorFor(m => m.EstimatedDeposits, cssClass: "form-input width-80")
                    @Html.ValidationMessageFor(m => m.EstimatedDeposits, "", new { @class = "form-val-error-tooltip" })
                </div>
            </div>

            <div class="row my-2">
                @Html.LabelFor(m => m.ActualDeposits, new { @class = "col-3" })
                <div class="col-6">
                    <span class="form-input-prepend">$</span>
                    @Html.RoleBasedEditorFor(m => m.ActualDeposits, cssClass: "form-input width-80")
                    @Html.ValidationMessageFor(m => m.ActualDeposits, "", new { @class = "form-val-error-tooltip" })
                </div>
            </div>

            <div class="row my-2">
                @Html.LabelFor(m => m.LockboxCMCID, new { @class = "col-3 required" })
                <div class="col-7">
                    @Html.AdminOnlyEditorFor(m => m.LockboxCMCID, cssClass: "form-input")
                    @Html.ValidationMessageFor(m => m.LockboxCMCID, "", new { @class = "form-val-error-tooltip" })
                    @Html.HiddenFor(m => m.LockboxCMCID)
                </div>
            </div>

            <div class="row my-0">
                @Html.LabelFor(m => m.HasCorporateAccounts, new { @class = "col-3" })
                <div class="col-1">
                    @Html.RoleBasedCheckBoxFor(m => m.HasCorporateAccounts)
                </div>
                <div class="col-6">
                    @Html.RoleBasedEditorFor(m => m.CorporateAccounts, cssClass: "form-input")
                    @Html.ValidationMessageFor(m => m.CorporateAccounts, "", new { @class = "form-val-error-tooltip" })
                </div>
            </div>
            <div class="row my-0">
                @Html.LabelFor(m => m.Strongroom, new { @class = "col-3" })
                <div class="col-7">
                    @Html.RoleBasedCheckBoxFor(m => m.Strongroom)
                </div>
            </div>
            <div class="row my-0">
                @Html.LabelFor(m => m.EStatements, new { @class = "col-3 form-label" })
                <div class="col-7">
                    @Html.RoleBasedCheckBoxFor(m => m.EStatements)
                </div>
            </div>
            <div class="row my-0">
                @Html.LabelFor(m => m.FacsimileSignature, new { @class = "col-3" })
                <div class="col-7">
                    @Html.RoleBasedCheckBoxFor(m => m.FacsimileSignature)
                </div>
            </div>
            <div class="row my-0">
                @Html.LabelFor(m => m.CIPGood, new { @class = "col-3" })
                <div class="col-7">
                    @Html.RoleBasedCheckBoxFor(m => m.CIPGood)
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-3">
                    <label>NOTES</label>
                </div>
                <div class="col-3 offset-6">
                    @Ajax.RoleBasedRouteLink("Add Note", routeName: NotesControllerRoute.CreateNote, routeValues: new
                    {
                        projectId = Model.ID
                    }, ajaxOptions: new AjaxOptions
                    {
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "note-form-modal-location",
                        OnSuccess = "ModalDialogHelper.showModalDialog",
                        OnFailure = "ErrorHandler.handleAjaxError"
                    }, htmlAttributes: new
                    {
                        @class = "btn btn-sm btn-add-img",
                        data_modal_target = "#note-form-modal"
                    })
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div id="notes-list" class="list-widget">
                        @Html.Action(NotesControllerAction.Index, ControllerName.Notes, routeValues: new
                        {
                            projectId = Model.ID
                        })
                    </div>
                </div>
            </div>

        </div>
        @* Third column end *@
    </div>

</div>