@model ProjectFormViewModel

<div class="row">
    @*First column start*@
    <div class="col-4 pl-4">

        <div class="row mt-1">
            <label class="col-5 form-label-heading">Physical Address</label>
        </div>

        <div class="row">
            @Html.LabelFor(m => m.Address, new { @class = "col-3 form-label-indent" })
            <div class="col-8">
                @Html.EditorFor(m => m.Address, new { htmlAttributes = new { @class = "form-input" } })
                @Html.ValidationMessageFor(m => m.Address, "", new { @class = "form-error-msg" })
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(m => m.City, new { @class = "col-3 form-label-indent" })
            <div class="col-8">
                @Html.EditorFor(m => m.City, new { htmlAttributes = new { @class = "form-input" } })
                @Html.ValidationMessageFor(m => m.City, "", new { @class = "form-error-msg" })
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(m => m.State, new { @class = "col-3 form-label-indent" })
            <div class="col-5">
                @Html.EditorFor(m => m.State, new { htmlAttributes = new { @class = "form-input" } })
                @Html.ValidationMessageFor(m => m.State, "", new { @class = "form-error-msg" })
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(m => m.ZipCode, new { @class = "col-3 form-label-indent" })
            <div class="col-5">
                @Html.EditorFor(m => m.ZipCode, new { htmlAttributes = new { @class = "form-input" } })
                @Html.ValidationMessageFor(m => m.ZipCode, "", new { @class = "form-error-msg" })
            </div>
        </div>

        <div class="row mt-3">
            <label class="col-4 form-label-heading">Mailing Address</label>
            <div>
                <input type="checkbox">
                <label>Same as Physical</label>
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(m => m.MailingAddress, new { @class = "col-3 form-label-indent" })
            <div class="col-8">
                @Html.EditorFor(m => m.MailingAddress, new { htmlAttributes = new { @class = "form-input" } })
                @Html.ValidationMessageFor(m => m.MailingAddress, "", new { @class = "form-error-msg" })
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(m => m.MailingCity, new { @class = "col-3 form-label-indent" })
            <div class="col-8">
                @Html.EditorFor(m => m.MailingCity, new { htmlAttributes = new { @class = "form-input" } })
                @Html.ValidationMessageFor(m => m.MailingCity, "", new { @class = "form-error-msg" })
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(m => m.MailingState, new { @class = "col-3 form-label-indent" })
            <div class="col-5">
                @Html.EditorFor(m => m.MailingState, new { htmlAttributes = new { @class = "form-input" } })
                @Html.ValidationMessageFor(m => m.MailingState, "", new { @class = "form-error-msg" })
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(m => m.MailingZipCode, new { @class = "col-3 form-label-indent" })
            <div class="col-5">
                @Html.EditorFor(m => m.MailingZipCode, new { htmlAttributes = new { @class = "form-input" } })
                @Html.ValidationMessageFor(m => m.MailingZipCode, "", new { @class = "form-error-msg" })
            </div>
        </div>

        <div class="row mt-4 mb-2">
            @Html.LabelFor(m => m.TIN, new { @class = "col-3" })
            <div class="col-8">
                @Html.EditorFor(m => m.TIN, new { htmlAttributes = new { @class = "form-input" } })
                @Html.ValidationMessageFor(m => m.TIN, "", new { @class = "form-error-msg" })
            </div>
        </div>

        <div class="row my-2">
            @Html.LabelFor(m => m.TimeZone, new { @class = "col-3" })
            <div class="col-8">
                @Html.EditorFor(m => m.TimeZone, new { htmlAttributes = new { @class = "form-input" } })
                @Html.ValidationMessageFor(m => m.TimeZone, "", new { @class = "form-error-msg" })
            </div>
        </div>

        <div class="row my-2">
            @Html.LabelFor(m => m.Phone, new { @class = "col-3" })
            <div class="col-8">
                @Html.EditorFor(m => m.Phone, new { htmlAttributes = new { @class = "form-input" } })
                @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "form-error-msg" })
            </div>
        </div>

        <div class="row my-2">
            @Html.LabelFor(m => m.Fax, new { @class = "col-3" })
            <div class="col-8">
                @Html.EditorFor(m => m.Fax, new { htmlAttributes = new { @class = "form-input" } })
                @Html.ValidationMessageFor(m => m.Fax, "", new { @class = "form-error-msg" })
            </div>
        </div>

        <div class="row my-2">
            @Html.LabelFor(m => m.Website, new { @class = "col-3" })
            <div class="col-8">
                @Html.EditorFor(m => m.Website, new { htmlAttributes = new { @class = "form-input" } })
                @Html.ValidationMessageFor(m => m.Website, "", new { @class = "form-error-msg" })
            </div>
        </div>

    </div>
    @* First column end *@

    @* Second column start *@
    <div class="col-4">

        <div class="row my-2">
            @Html.LabelFor(m => m.Institution, new { @class = "col-3" })
            <div class="col-8">
                @Html.DropDownListFor(m => m.Institution, new SelectList(Model.InstitutionList), "", new { @class = "form-input" })
                @Html.ValidationMessageFor(m => m.Institution, "", new { @class = "form-error-msg" })
            </div>
        </div>

        <div class="row mb-3">
            @Html.LabelFor(m => m.RelationshipRate, new { @class = "col-12 mb-0" })
            <div class="col-9 offset-3">
                <div class="form-check">
                    @Html.RadioButtonFor(m => m.RelationshipRate, "All", new { @class = "form-check-input" })
                    <label class="form-check-label">All</label>
                </div>
                <div class="form-check">
                    @Html.RadioButtonFor(m => m.RelationshipRate, "Lockbox", new { @class = "form-check-input" })
                    <label class="form-check-label">Lockbox</label>
                </div>
                <div class="form-check">
                    @Html.RadioButtonFor(m => m.RelationshipRate, "No", new { @class = "form-check-input" })
                    <label class="form-check-label">No</label>
                </div>
            </div>
        </div>

        <div class="row my-2">
            @Html.LabelFor(m => m.OwnerID, new { @class = "col-3" })
            <div class="col-8">
                @Html.DropDownListFor(m => m.OwnerID, new SelectList(Model.EmployeeList, "Value", "Text"), "", new { @class = "form-input" })
                @Html.ValidationMessageFor(m => m.OwnerID, "", new { @class = "form-error-msg" })
            </div>
        </div>

        <div class="row my-2">
            @Html.LabelFor(m => m.AFPID, new { @class = "col-3" })
            <div class="col-8">
                @Html.DropDownListFor(m => m.AFPID, new SelectList(Model.EmployeeList, "Value", "Text"), "", new { @class = "form-input" })
                @Html.ValidationMessageFor(m => m.AFPID, "", new { @class = "form-error-msg" })
            </div>
        </div>

        <div class="row my-2">
            @Html.LabelFor(m => m.BoardingManagerID, new { @class = "col-3" })
            <div class="col-8">
                @Html.DropDownListFor(m => m.BoardingManagerID, new SelectList(Model.EmployeeList, "Value", "Text"), "", new { @class = "form-input" })
                @Html.ValidationMessageFor(m => m.BoardingManagerID, "", new { @class = "form-error-msg" })
            </div>
        </div>

        <div class="row my-2">
            @Html.LabelFor(m => m.SoftwareID, new { @class = "col-3" })
            <div class="col-8">
                @Html.DropDownListFor(m => m.SoftwareID, new SelectList(Model.SoftwareList, "Value", "Text"), "", new { @class = "form-input" })
            </div>
        </div>

        <div class="row mt-2">
            <label class="col-4 form-label-heading">Lock Box</label>
        </div>

        <div class="row mb-1">
            @Html.LabelFor(m => m.LockboxStatus, new { @class = "col-3 form-label-indent" })
            <div class="col-8">
                @Html.DropDownListFor(m => m.LockboxStatus, new SelectList(Model.LockboxStatusList), null, new { @class = "form-input" })
            </div>
        </div>

        <div class="row mb-1">
            @Html.LabelFor(m => m.LockboxSystem, new { @class = "col-3 form-label-indent" })
            <div class="col-8">
                @Html.DropDownListFor(m => m.LockboxSystem, new SelectList(Model.LockboxSystemList), "", new { @class = "form-input" })
            </div>
        </div>

        <div class="row mb-1">
            @Html.LabelFor(m => m.LockboxLiveDate, new { @class = "col-3  form-label-indent" })
            <div class="col-8">
                @Html.EditorFor(m => m.LockboxLiveDate, new { htmlAttributes = new { @class = "form-input" } })
            </div>
        </div>

        <div class="row mt-4 mb-1">
            @Html.LabelFor(m => m.NumberOfAssociations, new { @class = "col-3" })
            <div class="col-4">
                @Html.EditorFor(m => m.NumberOfAssociations, new { htmlAttributes = new { @class = "form-input" } })
            </div>
        </div>

        <div class="row my-1">
            @Html.LabelFor(m => m.NumberOfDoors, new { @class = "col-3" })
            <div class="col-4">
                @Html.EditorFor(m => m.NumberOfDoors, new { htmlAttributes = new { @class = "form-input" } })
            </div>
        </div>

    </div>
    @* Second column end *@

    @* Third column start *@
    <div class="col-4">

        <div class="row my-2">
            @Html.LabelFor(m => m.EstimatedDeposits, new { @class = "col-3" })
            <div class="col-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    @Html.EditorFor(m => m.EstimatedDeposits, new { htmlAttributes = new { @class = "form-input form-input-prepend" } })
                    @Html.ValidationMessageFor(m => m.EstimatedDeposits, "", new { @class = "form-error-msg" })
                </div>
            </div>
        </div>

        <div class="row my-2">
            @Html.LabelFor(m => m.ActualDeposits, new { @class = "col-3" })
            <div class="col-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    @Html.EditorFor(m => m.ActualDeposits, new { htmlAttributes = new { @class = "form-input form-input-prepend" } })
                    @Html.ValidationMessageFor(m => m.ActualDeposits, "", new { @class = "form-error-msg" })
                </div>
            </div>
        </div>

        <div class="row my-2">
            @Html.LabelFor(m => m.LockboxCMCID, new { @class = "col-3" })
            <div class="col-7">
                @Html.EditorFor(m => m.LockboxCMCID, new { htmlAttributes = new { @class = "form-input" } })
                @Html.ValidationMessageFor(m => m.LockboxCMCID, "", new { @class = "form-error-msg" })
            </div>
        </div>

        <div class="row my-0">
            @Html.LabelFor(m => m.HasCorporateAccounts, new { @class = "col-3" })
            <div class="col-1">
                @Html.CheckBoxFor(m => m.HasCorporateAccounts)
            </div>
            <div class="col-6">
                @Html.EditorFor(m => m.CorporateAccounts, new { htmlAttributes = new { @class = "form-input" } })
                @Html.ValidationMessageFor(m => m.CorporateAccounts, "", new { @class = "form-error-msg" })
            </div>
        </div>

        <div class="row my-0">
            @Html.LabelFor(m => m.Strongroom, new { @class = "col-3" })
            <div class="col-7">
                @Html.CheckBoxFor(m => m.Strongroom)
            </div>
        </div>

        <div class="row my-0">
            @Html.LabelFor(m => m.EStatements, new { @class = "col-3 form-label" })
            <div class="col-7">
                @Html.CheckBoxFor(m => m.EStatements)
            </div>
        </div>

        <div class="row my-0">
            @Html.LabelFor(m => m.FacsimileSignature, new { @class = "col-3" })
            <div class="col-7">
                @Html.CheckBoxFor(m => m.FacsimileSignature)
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-11">
                @Html.LabelFor(m => m.Notes)
                @Html.TextAreaFor(m => m.Notes, 10, 10, new { @class = "form-textarea" })
            </div>
        </div>

    </div>
    @* Third column end *@
</div>
