@model ProjectFormViewModel

<div class="row my-3">
    <div class="col-5">
        <label class="px-4">Show</label>
        <div class="form-check form-check-inline px-2">
            <input class="form-check-input" checked="checked" id="users-filter-all" name="user-filter-option" type="radio" value="all" data-projectId="@Model.ID" />
            <label class="form-check-label" for="users-filter-all">All</label>
        </div>
        <div class="form-check form-check-inline px-2">
            <input class="form-check-input" id="users-filter-admin" name="user-filter-option" type="radio" value="admin" data-projectId="@Model.ID" />
            <label class="form-check-label" for="users-filter-admin">Admin</label>
        </div>
        <div class="form-check form-check-inline px-2">
            <input class="form-check-input" id="users-filter-active" name="user-filter-option" type="radio" value="active" data-projectId="@Model.ID" />
            <label class="form-check-label" for="users-filter-active">Active</label>
        </div>
        <div class="form-check form-check-inline px-2">
            <input class="form-check-input" id="users-filter-inactive" name="user-filter-option" type="radio" value="inactive" data-projectId="@Model.ID" />
            <label class="form-check-label" for="users-filter-inactive">Inactive</label>
        </div>
    </div>

    <div class="col-1 offset-6 p-0">
        @Ajax.RoleBasedRouteLink("Add User", routeName: ProjectUsersControllerRoute.CreateUser, routeValues: new
        {
            projectId = Model.ID
        }, ajaxOptions: new AjaxOptions
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "user-form-location",
            OnSuccess = "showModalTarget",
            OnFailure = "handleAjaxError"
        }, htmlAttributes: new 
        {
            @class = "btn btn-sm btn-add-img",
            data_modal_target = "#user-form-modal"
        })
    </div>

</div>

<div id="project-users-list">
    @Html.Action(ProjectUsersControllerAction.Index, ControllerName.ProjectUsers, routeValues: new { projectId = Model.ID })
</div>

<div class="row">
    <div class="col-7">
        <label class="mx-4">Generate Email Distribution List:</label>
        @Ajax.RouteLink("Statement Emails", routeName: ProjectUsersControllerRoute.GetEmailList, routeValues: new
        {
            projectId = Model.ID,
            emailList = UsersEmailListName.StatementEmails
        }, ajaxOptions: new AjaxOptions
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "users-email-list-modal-location",
            OnSuccess = "showModalTarget",
            OnFailure = "handleAjaxError"
        }, htmlAttributes: new
        {
            @class = "btn btn-sm btn-primary mx-1",
            data_modal_target = "#users-email-list-modal"
        })

        @Ajax.RouteLink("Lockbox Emails", routeName: ProjectUsersControllerRoute.GetEmailList, routeValues: new
        {
            projectId = Model.ID,
            emailList = UsersEmailListName.LockboxEmails
        }, ajaxOptions: new AjaxOptions
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "users-email-list-modal-location",
            OnSuccess = "showModalTarget",
            OnFailure = "handleAjaxError"
        }, htmlAttributes: new
        {
            @class = "btn btn-sm btn-primary mx-1",
            data_modal_target = "#users-email-list-modal"
        })

        @Ajax.RouteLink("ACH Emails", routeName: ProjectUsersControllerRoute.GetEmailList, routeValues: new
        {
            projectId = Model.ID,
            emailList = UsersEmailListName.AchEmails
        }, ajaxOptions: new AjaxOptions
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "users-email-list-modal-location",
            OnSuccess = "showModalTarget",
            OnFailure = "handleAjaxError"
        }, htmlAttributes: new
        {
            @class = "btn btn-sm btn-primary mx-1",
            data_modal_target = "#users-email-list-modal"
        })
    </div>
</div>

