@using AllianceAssociationBank.Crm.ViewModels
@model ProjectDetailViewModel
@{
    ViewBag.Title = "Projects";
}

<h2>@ViewBag.Title</h2>

@using (@Html.BeginForm("ChangeSelection", "Projects", new { id = Model.ID }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="row">
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.ID, new SelectList(Model.Projects, "Value", "Text"), "Please Select", new { @class = "form-control", onchange = "this.form.submit();" })
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary">Add New</button>
        </div>
    </div>
    <hr />
}

@using (Html.BeginForm("Update", "Projects", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.ID)
    <div class="form-group">
        @Html.LabelFor(m => m.ProjectName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.ProjectName, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Address, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.City, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.State, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.State, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ZipCode, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.ZipCode, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Phone, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}

