<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-expand-sm smallnavbar">
        <div class="container justify-content-end">
            @Html.Partial("_LoginPartial")
            @*<div>
                    @Html.ActionLink("Alliance Association Bank CRM", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>*@
            @*<div style="background-color: rgba(153, 153, 153, 1); height: 115px; padding-left: 0px; padding-right: 0px">
                    @Html.Partial("_LoginPartial")
                </div>*@
        </div>
    </div>
    <div class="container body-content" style="width: 1280px;height: 715px;border-width: 1px;border-style: solid;border-color: rgba(121, 121, 121, 1);border-radius: 0px;">
        @RenderBody()
        @*<hr />
        <footer class="small text-secondary">
            <p>&copy; @DateTime.Now.Year - Alliance Association Bank CRM</p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)
</body>
</html>
