<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="fixed-top alert alert-danger alert-dismissible fade show invisible" id="ajax-error-alert" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="text-center">
            <strong>Oops!</strong> An error occurred while processing your request. Please try again later.
        </div>
    </div>
    <div class="container smallnavbar" style="max-width: 1280px;">
        <div class="navbar navbar-expand-sm smallnavbar justify-content-end">
            <div class="justify-content-end mx-2">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/app")

</body>
</html>
