<nav class="navbar p-1">

    <button class="btn-img" id="nav-side-menu-toggle" type="button" data-toggle="slide-collapse-right" data-target="#nav-side-menu" aria-controls="nav-side-menu" aria-expanded="false" aria-label="Side Menu">
        <img class="icon-image" src="~/Content/Images/toggle-img.png" />
    </button>

    <div class="popup-control" id="nav-side-menu">

        <div class="pb-3 text-center">
            @Html.RoleBasedActionLink("Create New Project", ProjectsControllerAction.Create, ControllerName.Projects, null, "btn btn-primary btn-sm")
        </div>

        <div class="pb-3">
            <div class="nav-item px-3 py-1 border">
                @Html.ActionLink("Home", HomeControllerAction.Index, ControllerName.Home, routeValues: null, htmlAttributes: null)
            </div>
        </div>

        <div class="pb-3">
            <span class="text-muted">Reports</span>
            <div class="nav-item px-3 py-1 border border-bottom-0">
                @Html.RouteLink("Boarding", routeName: ReportsControllerRoute.ViewReport, routeValues: new
                {
                    name = ReportName.Boarding
                })
            </div>
            <div class="nav-item px-3 py-1 border border-bottom-0">
                @Html.RouteLink("Completed and Hold", routeName: ReportsControllerRoute.ViewReport, routeValues: new
                {
                    name = ReportName.CompletedAndHold
                })
            </div>
            <div class="nav-item px-3 py-1 border border-bottom-0">
                @Html.RouteLink("Software Transition", routeName: ReportsControllerRoute.ViewReport, routeValues: new
                {
                    name = ReportName.SoftwareTransition
                })
            </div>
            <div class="nav-item px-3 py-1 border border-bottom-0">
                @Html.RouteLink("CMC By ID", routeName: ReportsControllerRoute.ViewReport, routeValues: new
                {
                    name = ReportName.CmcById
                })
            </div>
            <div class="nav-item px-3 py-1 border border-bottom-0">
                @Html.RouteLink("CMC by Name", routeName: ReportsControllerRoute.ViewReport, routeValues: new
                {
                    name = ReportName.CmcByName
                })
            </div>
            <div class="nav-item px-3 py-1 border border-bottom-0">
                @Html.RouteLink("CD Emails", routeName: ReportsControllerRoute.ViewReport, routeValues: new
                {
                    name = ReportName.CDEmails
                })
            </div>
            <div class="nav-item px-3 py-1 border">
                @Html.RouteLink("Coupon", routeName: ReportsControllerRoute.ViewReport, routeValues: new
                {
                    name = ReportName.Coupon
                })
            </div>
        </div>

        <div class="pb-3">
            <span class="text-muted">Exports</span>
            <div class="nav-item px-3 py-1 border  border-bottom-0">
                @Html.RouteLink("CMC List", routeName: ExportsControllerRoute.GenerateExportFile, routeValues: new
                {
                    name = ExportName.CmcList
                })
            </div>
            <div class="nav-item px-3 py-1 border  border-bottom-0">
                @Html.RouteLink("CMC Useful Info List", routeName: ExportsControllerRoute.GenerateExportFile, routeValues: new
                {
                    name = ExportName.CmcUsefulInfoList
                })
            </div>
            <div class="nav-item px-3 py-1 border">
                @Html.RouteLink("All Info", routeName: ExportsControllerRoute.GenerateExportFile, routeValues: new
                {
                    name = ExportName.AllInfo
                })
            </div>
        </div>

        <div class="nav-item text-right">
            @using (Html.BeginForm(UserControllerAction.Logout, ControllerName.User, FormMethod.Post, new
            {
                id = "side-menu-logout-form"
            }))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('side-menu-logout-form').submit()">Logout</a>
            }
        </div>

    </div>

</nav>
