<div class="row admin-container-main">

    <div class="col-3 border-right px-0">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 bg-white">
                <li class="breadcrumb-item">
                    @*TODO: need to improve this*@
                    @Html.ActionLink("Home", "Index", "Home", routeValues: new { area = "" }, htmlAttributes: new { title = "Return to Home" })
                </li>
                <li class="breadcrumb-item">
                    @Html.ActionLink("Admin", ManageControllerAction.Index, ControllerName.Manage, routeValues: null, htmlAttributes: new { title = "Go to Admin section" })
                </li>
                <li class="breadcrumb-item active">Manage Values</li>
            </ol>
        </nav>
        <div class="list-group" role="tablist">
            @Ajax.RouteLink("Employees", EmployeesControllerRoute.GetEmployees, routeValues: null, ajaxOptions: new AjaxOptions
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = HtmlElementIdentifier.ManageValuesContent,
                OnBegin = "AjaxHelper.showLoadingAnimation",
                OnComplete = "AjaxHelper.hideLoadingAnimation",
                OnFailure = "ErrorHandler.handleAjaxError"
            }, htmlAttributes: new
            {
                @class = "list-group-item list-group-item-action",
                id = "list-employees-values",
                data_toggle = "list",
                role = "tab",
            })

            @Ajax.RouteLink("Reformat AQ2", ReformatsControllerRoute.GetReformats, routeValues: null, ajaxOptions: new AjaxOptions
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = HtmlElementIdentifier.ManageValuesContent,
                OnBegin = "AjaxHelper.showLoadingAnimation",
                OnComplete = "AjaxHelper.hideLoadingAnimation",
                OnFailure = "ErrorHandler.handleAjaxError"
            }, htmlAttributes: new
            {
                @class = "list-group-item list-group-item-action",
                id = "list-software-values",
                data_toggle = "list",
                role = "tab",
            })

            @Ajax.RouteLink("Software", SoftwareControllerRoute.GetSoftwareList, routeValues: null, ajaxOptions: new AjaxOptions
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = HtmlElementIdentifier.ManageValuesContent,
                OnBegin = "AjaxHelper.showLoadingAnimation",
                OnComplete = "AjaxHelper.hideLoadingAnimation",
                OnFailure = "ErrorHandler.handleAjaxError"
            }, htmlAttributes: new
            {
                @class = "list-group-item list-group-item-action",
                id = "list-software-values",
                data_toggle = "list",
                role = "tab",
            })
        </div>
    </div>

    <div class="col-9">
        <div id="@HtmlElementIdentifier.ManageValuesContent">
            <div class="p-4">
                <h3>Admin Section</h3>
                @*TODO: need to add actual help text here*@
                <p>
                    Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                </p>
            </div>
        </div>
        @Html.Partial("_LoadingAnimationPartial")
    </div>

</div>

@* div to render modal form popup *@
<div id="manage-values-form-modal-container"></div>

@* div to render delete confirmation dialog *@
<div id="confirm-delete-dialog-location"></div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ajaxhelper")
}