@model SearchResultsPagedViewModel
@{
    ViewBag.Title = "Search Results";
}

<div class="row">

    <div class="p-0">
        <div class="float-left">
            @Html.Partial(SharedView.SideMenuPartial)
        </div>
    </div>
    @if (Model.PreviousRecordId.HasValue)
    {
    <div class="my-auto mx-3">
        @Html.ActionLink("< Back to Record", ProjectsControllerAction.Edit, ControllerName.Projects, routeValues: new
        {
            id = Model.PreviousRecordId
        }, htmlAttributes: new
        {
            @class = "small"
        })
    </div>
    }

</div>

<div class="row mt-3 py-2 border-bottom">

    <div class="col-2">
        <h5 class="font-weight-bold">Search Results</h5>
    </div>

</div>

<div id="search-results-content">

    <div class="row mb-3">
        <div class="col-2 my-auto">
            <h5>@Html.DisplayFor(m => m.ResultsLabel)</h5>
        </div>

        <div class="col-4 offset-2">
            @using (Html.BeginForm(SearchControllerAction.Results, ControllerName.Search, method: FormMethod.Get))
            {
                <div class="input-group">
                    @Html.TextBox("term", Model.SearchTerm, new
                    {
                        @class = "form-control",
                        placeholder = "Name / TIN / PMC ID",
                    })
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">SEARCH</button>
                    </div>
                </div>
            }
        </div>
    </div>

    <table class="table table-borderless table-fixed">
        <thead>
            <tr>
                <th scope="col" class="border-bottom border-top-0 table-row-30">
                    @Html.ActionLink("Legal Name", SearchControllerAction.Results, routeValues: new
                    {
                        term = Model.SearchTerm,
                        page = 1,
                        sort = Model.SortOrderParam
                    }, htmlAttributes: new { @class = "plain-link" })
                    <img class="sort-icon" src="~/Content/Images/sort-order-icon.png" />
                </th>
                <th scope="col" class="border-bottom border-top-0 table-row-20">
                    @Html.DisplayNameFor(m => m.Items.FirstOrDefault().DBA)
                </th>
                <th scope="col" class="border-bottom border-top-0 table-row-20">
                    Other Name
                </th>
                <th scope="col" class="border-bottom border-top-0 table-row-10">
                    @Html.DisplayNameFor(m => m.Items.FirstOrDefault().TIN)
                </th>
                <th scope="col" class="border-bottom border-top-0 table-row-10">
                    @Html.DisplayNameFor(m => m.Items.FirstOrDefault().Phone)
                </th>
                <th scope="col" class="border-bottom border-top-0 table-row-10">
                    @Html.DisplayNameFor(m => m.Items.FirstOrDefault().LockboxCMCID)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var result in Model.Items)
            {
                <tr>
                    <td title="@result.ProjectName">
                        @Html.ActionLink((result.ProjectName ?? " "), ProjectsControllerAction.Edit, ControllerName.Projects, routeValues: new
                        {
                            id = result.ID
                        }, htmlAttributes: null)
                    </td>
                    <td title="@result.DBA">
                        @Html.DisplayFor(m => result.DBA)
                    </td>
                    <td title="@result.OtherName">
                        @Html.DisplayFor(m => result.OtherName)
                    </td>
                    <td title="@result.TIN">
                        @Html.DisplayFor(m => result.TIN)
                    </td>
                    <td title="@result.Phone">
                        @Html.DisplayFor(m => result.Phone)
                    </td>
                    <td title="@result.LockboxCMCID">
                        @Html.DisplayFor(m => result.LockboxCMCID)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="row pt-2">
    <div class="col">
        <nav aria-label="Search Pagination Nav">
            <ul class="pagination justify-content-center">

                <li class="page-item @(Model.ShowFirstPage ? "" : "disabled")">
                    @Html.ActionLink("First", SearchControllerAction.Results, routeValues: new
                    {
                        term = Model.SearchTerm,
                        page = 1,
                        sort = Model.CurrentSort,
                        previousId = Model.PreviousRecordId
                    }, htmlAttributes: new
                    {
                        @class = "page-link",
                        title = "First Page"
                    })
                </li>
                <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                    @Html.ActionLink("<", SearchControllerAction.Results, routeValues: new
                    {
                        term = Model.SearchTerm,
                        page = Model.PreviousPageNumber,
                        sort = Model.CurrentSort,
                        previousId = Model.PreviousRecordId
                    }, htmlAttributes: new
                    {
                        @class = "page-link",
                        title = "Previous Page"
                    })
                </li>
                @if (Model.ShowSecondPreviousPage)
                {
                    <li class="page-item">
                        @Html.ActionLink(Model.SecondPreviousPageNumber.ToString(), SearchControllerAction.Results, routeValues: new
                        {
                            term = Model.SearchTerm,
                            page = Model.SecondPreviousPageNumber,
                            sort = Model.CurrentSort,
                            previousId = Model.PreviousRecordId
                        }, htmlAttributes: new
                        {
                            @class = "page-link"
                        })
                    </li>
                }
                @if (Model.HasPreviousPage)
                {
                    <li class="page-item">
                        @Html.ActionLink(Model.PreviousPageNumber.ToString(), SearchControllerAction.Results, routeValues: new
                        {
                            term = Model.SearchTerm,
                            page = Model.PreviousPageNumber,
                            sort = Model.CurrentSort,
                            previousId = Model.PreviousRecordId
                        }, htmlAttributes: new
                        {
                            @class = "page-link"
                        })
                    </li>
                }
                <li class="page-item active">
                    <a class="page-link">@Model.PageNumber</a>
                </li>
                @if (Model.HasNextPage)
                {
                    <li class="page-item">
                        @Html.ActionLink(Model.NextPageNumber.ToString(), SearchControllerAction.Results, routeValues: new
                        {
                            term = Model.SearchTerm,
                            page = Model.NextPageNumber,
                            sort = Model.CurrentSort,
                            previousId = Model.PreviousRecordId
                        }, htmlAttributes: new
                        {
                            @class = "page-link"
                        })
                    </li>
                }
                @if (Model.ShowSecondNextPage)
                {
                    <li class="page-item">
                        @Html.ActionLink(Model.SecondNextPageNumber.ToString(), SearchControllerAction.Results, routeValues: new
                        {
                            term = Model.SearchTerm,
                            page = Model.SecondNextPageNumber,
                            sort = Model.CurrentSort,
                            previousId = Model.PreviousRecordId
                        }, htmlAttributes: new
                        {
                            @class = "page-link"
                        })
                    </li>
                }
                <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                    @Html.ActionLink(">", SearchControllerAction.Results, routeValues: new
                    {
                        term = Model.SearchTerm,
                        page = Model.NextPageNumber,
                        sort = Model.CurrentSort,
                        previousId = Model.PreviousRecordId
                    }, htmlAttributes: new
                    {
                        @class = "page-link",
                        title = "Next Page"
                    })
                </li>
                <li class="page-item @(Model.ShowLastPage ? "" : "disabled")">
                    @Html.ActionLink("Last", SearchControllerAction.Results, routeValues: new
                    {
                        term = Model.SearchTerm,
                        page = Model.TotalPages,
                        sort = Model.CurrentSort,
                        previousId = Model.PreviousRecordId
                    }, htmlAttributes: new
                    {
                        @class = "page-link",
                        title = "Last Page"
                    })
                </li>

            </ul>
        </nav>
    </div>
</div>

<div class="screen-overlay"></div>